html {
  font-size: 16px;
  font-family: 'Mono', sans-serif;
  background-color: #d3d3d3;
}
@font-face {
  font-family: 'CustomFontName';
  src: url('') format('truetype');
}
main {
 width: 100%;
}
.heading {
  position: relative;
  background-color: #7f7f7f;
  border: 1px solid white;
  border-radius: 1px;
  width: 100%;
}
#topbutton {
  background-color: gray;
  display: inline;
  color: #FAFAFA;
  justify-content: space-between;
  align-items: flex-start;
  left: 15px;
  margin-right: 10px;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: white;
}
.maintext {
  color: #FAFAFA;
}
.container {
  overflow: hidden;
}
.cat {
  justify-content: center;
  height: 300px;
  border: 1px solid white;
  max-width: 100%;
  height: auto;
  display: block;
}
