ehtml {
  font-size: 16px;
  font-family: 'Mono', sans-serif;
  background-color: #d3d3d3;
}
@font-face {
  font-family: 'CustomFontName';
  src: url('') format('truetype');
}
#topbutton {
  background-color: gray;
  display: inline;
  border: 1px solid white;
  border-radius: 1px;
  background-color: #7f7f7f;
  color: #FAFAFA;
  justify-content: space-between;\
  align-items: flex-start;
  padding: 10px;
}
.maintext {
  color: #FAFAFA;
  border: 1px solid white;
}
.cat {
  justify-content: center;
  height: 300px;
  width: 450px;
  padding: 40px;
  border: 1px solid white;
}
